body{
    font-family: $parrafos-font-family;
}
trix-editor{
    height: 400px;
}
.navbar-light .navbar-brand{
    color: white;
    font-family: $font-family-sans-serif;
    font-size: 2rem;
    &:hover{
        color: white;
    }
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    &:hover{
        color: silver;
    }
}